<app-navSecond></app-navSecond>
<table class="table table-striped" *ngIf="data">
    <thead>
      <tr>
        <th>afstand</th>
        <th>straat</th>
        <th>huisnummer</th>
        <th>postcode</th>
        <th>omgeving</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let wc of wcLijst">
            <th scope="row">{{wc.distance}}</th>
            <td>{{wc.straat}}</td>
            <td>{{wc.huisnr}}</td>
            <td>{{wc.postcode}}</td>
            <td>{{wc.district}}</td>
        </tr>

    </tbody>
  </table>