<app-navSecond></app-navSecond>
<table class="table table-striped">
    <thead>
      <tr>
        <th>afstand</th>
        <th>adres</th>
        <th>betalend</th>
        <th>doelgroep</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of wcIDs">
            <th scope="row" *ngIf="data[i]">{{i}}</th>
            <td *ngIf="data[i]">{{data[i].straat}} {{data[i].huisnummer}} {{data[i].postcode}} {{data[i].district}}</td>
            <td *ngIf="data[i]">{{data[i].betalend}}</td>
            <td *ngIf="data[i]">{{data[i].doelgroep}}</td>
        </tr>
    </tbody>
  </table>