<div class="card">
        <div class="card-header">
            GEVONDEN WC
        </div>
        
        <div class="card-block" *ngIf="dichtsteWc">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><strong>Afstand</strong></th>
                        <th><strong>Naam</strong></th>
                        <th><strong>Straat</strong></th>
                        <th><strong>Huisnummer</strong></th>
                        <th><strong>Postcode</strong></th>
                        <th><strong>Omgeving</strong></th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                                <td>{{dichtsteWc.distance}}</td>
                                <td>{{dichtsteWc.naam}}</td>
                                <td>{{dichtsteWc.straat}}</td>
                                <td>{{dichtsteWc.huisnr}}</td>
                                <td>{{dichtsteWc.postcode}}</td>
                                <td>{{dichtsteWc.district}}</td>
                        </tr>
                    </tbody>
            </table>
        </div>
      </div>