<div class="card">
    <div class="card-header">
        RANDOM MUSEUM
    </div>
    
    <div class="card-block">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><strong>ID</strong></th>
                    <th><strong>Naam</strong></th>
                    <th><strong>Thema</strong></th>
                    <th><strong>Type</strong></th>
                    <th><strong>Straat</strong></th>
                    <th><strong>Huisnr</strong></th>
                    <th><strong>Omgeving</strong></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>{{data.id}}</td>
                        <td>{{data.naam}}</td>
                        <td>{{data.thema}}</td>
                        <td>{{data.type}}</td>
                        <td>{{data.straat}}</td>
                        <td>{{data.huisnr}}</td>
                        <td>{{data.district}}</td>
                    </tr>
                </tbody>
        </table>
    </div>
  </div>
<!--Card-->